# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=hbntory
MYSQL_USER=...
MYSQL_PASSWORD=...
MYSQL_HOST=db
MYSQL_PORT=3306

OLLAMA_API_BASE=http://ollama:11434
OLLAMA_MODEL=qwen3.5:0.8b

AI_AGENT_URL=ai_service